#wrap
  #nav
    #nav-content
      ul
        li
          i.icon.fa.fa-home
          span.text
            a.link(href='/') Foodees
        if (!user)
        li
         i.icon.fa.fa-sign-in-alt
         span.text
            a.link(href='/index') Signin
        li
          i.icon.fa.fa-users
          span.text
            a.link(href='/about') About
        li
          i.icon.fa.fa-cogs
          span.text
            a.link(href='/working') How it works
        li
          i.icon.fa.fa-utensils
          span.text
            a.link(href='/menu') Menu
        if (user)
          if ( user.type =="admin")
            li
              i.icon.fa.fa-pencil
              span.text
                a.link(href='/editmenu') Edit menu
            li
              i.icon.fa.fa-map-marker
              span.text
                a.link(href='/updatelocation') Update location
          if (user.type=="Customer")
            li
                i.icon.fa.fa-map-marker
                span.text
                  a.link(href='/allorders' onclick="document.getElementById('form1').submit();") View Order
                  form#getorders(action="/allorders" method='get')
          li
            i.icon.fa.fa-phone
            span.text
              a.link(href='/contactus') Contact us
        
if user
  .btn-group.btn-position
      button.btn.btn-danger(type='button')  Hi, #{user.profile.name}
      button.btn.btn-danger.dropdown-toggle.dropdown-arrow(type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
          span.caret
            |         
            span.sr-only Toggle Dropdown

      ul.dropdown-menu
        li
          img.img-circle.dropdown-profile-pic(src='#{user.profile.picture}')
        li.divider(role='separator')
        li.text-center
          a.link(href='/dashboard') My Profile
        if (user.type=="admin")
          li.text-center
            a.link(href='/setdefaultmenu') Set-Up Default Menu
        
        li.text-center
          a.link(href='/signout') Logout