nav.navbar.navbar-inverse.navbar-fixed-top
    .container-fluid
        .navbar-header
          button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1', aria-expanded='false')
            span.sr-only Toggle navigation         
            span.icon-bar         
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href='/') Foodees
        #bs-example-navbar-collapse-1.collapse.navbar-collapse
          if user
            ul.navbar-right
              li
                h3 Hi, #{user.profile.name} 
                a(href='/signout') Log-Out
              li
                 button.btn.btn-primary.dropdown-toggle(type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
                  span.caret
                  span.sr-only Toggle Dropdown
                ul.dropdown-menu
                  li
                    p Signed In As #{user.profile.name}
                  li
                    a(href='#') See Profile
                  li
                    a(href='#') My Orders
                  li.divider(role='separator')
                  li
                    a(href='/signout') Log-Out


          ul.nav.navbar-nav.navbar-left
            li
              a(href='/about') About
            li
              a(href='/working') How we work
            if(user)
              if(user.type =="admin")
                li
                  a(href='/editmenu') Edit menu
            li
              a(href='/menu') Menu
            if(user)
              li
                a(href='/ordernow') Order now