#wrap
  #nav
    #nav-content
      ul
        li
          i#icon.fa.fa-home
          span.text
            a(href='/') Foodees
        if (!user)
          li
            i#icon.fa.fa-sign-in
            span.text
              a(href='/index') Signin
        li
          i#icon.fa.fa-users
          span.text
            a(href='/about') About
        li
          i#icon.fa.fa-cogs
          span.text
            a(href='/working') How it works
        li
          i#icon.fa.fa-cutlery
          span.text
            a(href='/menu') Menu
        if (user)
          if ( user.type =="admin")
            li
              i#icon.fa.fa-pencil
              span.text
                a(href='/editmenu') Edit menu
            li
              i#icon.fa.fa-map-marker
              span.text
                a(href='/updatelocation') Update location
        li
          i#icon.fa.fa-phone
          span.text
            a(href='/contactus') Contact us
        
if user
  .btn-group.btn-position
      button.btn.btn-danger(type='button')  Hi, #{user.profile.name}
      button.btn.btn-danger.dropdown-toggle.dropdown-arrow(type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
          span.caret
            |         
            span.sr-only Toggle Dropdown

      ul.dropdown-menu
        li
          img.img-circle.dropdown-profile-pic(src='#{user.profile.picture}')
        li.divider(role='separator')
        li.text-center
          a(href='/dashboard') My Profile 
        if (user.type=="admin")
        li.text-center
          a(href='/setdefaultmenu') Set-Up Default Menu 
        
        li.text-center
          a(href='/signout') Logout