.tab-content
	#rice.tab-pane.active(role='tabpanel') RICE
	#gravy.tab-pane(role='tabpanel') DAL
	#roti.tab-pane(role='tabpanel') Roti
	#extra.tab-pane(role='tabpanel') extra
	#juices.tab-pane(role='tabpanel') juice
	#desserts.tab-pane(role='tabpanel') ...

