extends ./includes/layout
block main

	.container-fluid
		.row
			.col-md-3.col-md-offset-1
				.menuwrap
					.menu
						#set1.set
							.head Yummy
							.desc Health with Taste
							i.fa.fa-heart.ico
						#set2.set
							.head Variety
							.desc Countless options
							i.fa.fa-list-ul.ico
						#set3.set
							.head Happiness
							.desc Pocket-friendly Billing
							i.fa.fa-smile-o.ico
						#set4.set
							.head Fast
							.desc Delivered On Time
							i.fa.fa-rocket.ico
			
			.col-md-5.col-md-offset-1.pane
				span
					h1 Yummy
					p
					| How far I fell before I regained control of the plane I do not know, but I must have been very close to the ground when I started to rise again, as I plainly heard the squealing of animals below me.  Rising again I scanned the heavens for my pursuers, and finally making out their lights far behind me, saw that they were landing, evidently in search of me.
					.y
				span
					h1 Variety
					p
					| If ever Martians had an exhibition of jumping, it was granted those astonished warriors on that day long years ago, but while it led them away from Dejah Thoris it did not distract their attention from endeavoring to capture me.
					.v
				span
					h1 Happiness
					p
					| The nearer moon, hurtling suddenly above the horizon and lighting up the Barsoomian scene, showed me that my preserver was Woola, but from whence he had come, or how found me, I was at a loss to know.  That I was glad of his companionship it is needless to say, but my pleasure at seeing him was tempered by anxiety as to the reason of his leaving Dejah Thoris.  Only her death I felt sure, could account for his absence from her, so faithful I knew him to be to my commands.
					.h
				span
					h1 Fast
					p
					| The vessels carrying our green warriors were kept circling above the contending fleets of Helium and Zodanga, since their batteries were useless in the hands of the Tharks who, having no navy, have no skill in naval gunnery.  Their small-arm fire, however, was most effective, and the final outcome of the engagement was strongly influenced, if not wholly determined, by their presence.
					.f

