extends ./includes/layout
block main
	br
	br
	br
	.row
		.col-sm-6.col-md-4.col-sm-offset-3.col-md-offset-1
			.thumbnail
				img(src='...', alt='...')
				.caption
				h3 Thumbnail label
				p ...
				p
				a.btn.btn-primary(href='#', role='button') Button
				a.btn.btn-default(href='#', role='button') Button
		.col-sm-6.col-md-4.col-sm-offset-3.col-md-offset-1
			.thumbnail
				img(src='...', alt='...')
				.caption
				h3 Thumbnail label
				p ...
				p
				a.btn.btn-primary(href='#', role='button') Button
				a.btn.btn-default(href='#', role='button') Button
		.col-sm-6.col-md-4.col-sm-offset-3.col-md-offset-1
			.thumbnail
				img(src='...', alt='...')
				.caption
				h3 Thumbnail label
				p ...
				p
				a.btn.btn-primary(href='#', role='button') Button
				a.btn.btn-default(href='#', role='button') Button
		.col-sm-6.col-md-4.col-sm-offset-3.col-md-offset-1
			.thumbnail
				img(src='...', alt='...')
				.caption
				h3 Thumbnail label
				p ...
				p
				a.btn.btn-primary(href='#', role='button') Button
				a.btn.btn-default(href='#', role='button') Button
	