extends ./includes/layout
block main

  .contact-us
      form(action='/contactus', name='contactus', id='contactus', method='post')
          fieldset
            legend Dear Codepen,
            |       
            textarea(name='message' rows='6', cols='50', placeholder='Write us your thoughts, concerns, or congratulations here. We would love to hear from you...')
            |       
            .signature
              p Your Friend,
              |         
              input(name='name' type='text', placeholder='Your Name...')
              |         
              input(name='email' type='email', placeholder='yourname@gmail.com')
            |       
            input(name='submit', type='submit', value='SEND LETTER')#submit



    if(typeof msg !== 'undefined')
      if(!!err)
        div.text-center(class='msgbox err') #{msg}
      else
        div.text-center(class='msgbox success') #{msg}

  include ../views/partials/footer