extends ./includes/layout
block main

  .contact-us
      form
          fieldset
            legend Dear Codepen,
            |       
            textarea(rows='6', cols='50', placeholder='Write us your thoughts, concerns, or congratulations here. We would love to hear from you...')
            |       
            .signature
              p Your Friend,
              |         
              input(type='text', placeholder='Your Name...')
              |         
              input(type='email', placeholder='yourname@gmail.com')
            |       
            button#submit
              span SEND LETTER




  //- body
  //-   h1 Contact Form
  //-   div.content
  //-     form(action='/contactus', name='contactus', id='contactus', method='post')
  //-       fieldset
  //-         p
  //-           label(for='name') Name:
  //-           br
  //-           input(name='name', type='text', value='', id='name')
  //-         p
  //-           label(for='email') Email:
  //-           br
  //-           input(name='email', type='text', value='', id='email')
  //-         p
  //-           label(for='message') Message:
  //-           br
  //-           textarea(name='message', cols='40', rows='10', id='message')
  //-         p
  //-           input(name='submit', type='submit', value='Send', id='submit')

  //-   if(typeof msg !== 'undefined')
  //-     if(!!err)
  //-       div(class='msgbox err') #{msg}
  //-     else
  //-       div(class='msgbox success') #{msg}

  script(type="text/javascript",src="/js/contactus.js")    
  script(type="text/javascript",src="vendor/pace/pace.js")    