extends ./includes/layout
block main
  .container
    .row
      .col-md-6.col-md-offset-4.text-center
    each val in user
      .row
        .col-md-6.col-md-offset-4.jumbotron
          p= user.profile.name
          p= user.email
          //
          form(action="/addadmin" + val._id method="get")
            button.btn.btn-primary(type='submit') Add as Admin
          form(action="/deletecustomer"+val._id method="post")
              button.btn.btn-default(type='submit') Delete        
