extends ./includes/layout
block main
	#wrapper
		#form
			fielset#signup
				legend - New Item -
				form(action='/editmenu' method='post')
					.input-box
						label.fill_(for="itemName") Item Name
						input(type="text", name="itemName")
					.input-box
						label.fill_(for="description") Description
						input(type="text", name="description")
					.input-box
						label.fill_(for="price") Price
						input(type="number", name='price')
					|Type
					select.form-control(name='type')
						option Rice
						option Gravy
						option Rotis
						option Juices
						
					|Category
					select.form-control(name='category')
						option Veg.
						option Non-veg.
					button.fill_.button(type='submit' onmouseover="valid()") Add to Menu

	script(type="text/javascript",src="js/formvalidate.js")