extends ./includes/layout
block main
  .container
    .row
      .col-md-6.col-md-offset-3.text-center
        form(action="/signin" method="post")
          .form-group
            input.form-control(type='email', placeholder='Email', name="email")
            input.form-control(type='password', placeholder='Password', name="password")
            button.btn.btn-default(type='submit', name="signin") Signin
            a.btn.btn-default(href='/signup') Signup
            a.btn.btn-primary(href='/auth/facebook') 
              .login-icon
                i.fa.fa-facebook 
                |&nbspLogin with Facebook
            a.btn.btn-danger(href='/auth/google') 
              .login-icon
                i.fa.fa-google-plus 
                |&nbspLogin with Google+
