extends ./includes/layout
block main
  .container-fluid.cover-bg
    .row
      .col-md-4.col-md-offset-4.text-center#index
        include ../views/partials/logo
        form(action="/signin" method="post")
          .form-group
            input.form-control(type='email', placeholder='Email', name="email")
            input.form-control(type='password', placeholder='Password', name="password")
            button.btn.btn-default(type='submit', name="signin") Signin
            &nbsp &nbsp &nbsp
            a.btn.btn-default(href='/signup') Signup

            .option
              span
              |&nbsp OR &nbsp
              span

            a.btn.btn-primary(href='/auth/facebook') 
              .login-icon
                i.fa.fa-facebook 
                |&nbspLogin with Facebook
            br
            a.btn.btn-danger(href='/auth/google') 
              .login-icon
                i.fa.fa-google-plus 
                |&nbspLogin with Google+

    include ../views/partials/footer


