extends ./includes/layout
block main
  .container
      .jumbotron
        .row
          .col-md-6.col-md-offset-3.text-center
            form(action="/signin" method="post")
              .form-group
                input.form-control(type='email', placeholder='Email', name="email")
                input.form-control(type='password', placeholder='Password', name="password")
                button.btn.btn-default(type='submit', name="signin") Signin
                a.btn.btn-primary(href='/signup') Signup
                a.btn.btn-primary(href='/auth/facebook') Login with Facebook
            form(action="/signin" method="post")
              .form-group
                button.btn.btn-danger(type='submit', name="submit") Login with Google+
            