extends ./includes/layout
block main
	h1 Your order
	
	.container
		.row.text-center
				each val in orders
					if (val.u_id==user.id)
						.col-md-3.jumbotron
							p= val.m_id.name













							
