extends ./includes/layout
block main
	.container-fluid.signup-bg
		.row
			.col-md-4.col-md-offset-4#signup
				form(action='/signup' method='post')
					input.form-control(type='text' placeholder='Name' name="name")
					input.form-control(type='email' placeholder='Email' name="email")
					input.form-control(type='password' placeholder='Password' name="password")
					input.form-control(type='password' placeholder='Confirm Password' name="password1")
					input(type='radio', name='sex', value='male')
					| Male
					input(type='radio', name='sex', value='female')
					| Female
					br
					input(type='checkbox', name='agree')
					| I agree to the 
					button.btn.btn-default(type='button', data-container='body', data-toggle='popover', title="O_O", data-placement='right', data-content='Terms and Conditions.')
						|Terms and Conditions.
					br
					button.btn.btn-default(type='submit') Signup

script(type="text/javascript", src="formvalidate.js");	
					
