extends ./includes/layout
block main
	#login.animated.bounce
		h2 Dabba Location
		form(action='/updatelocation' method='post')
			.input
				input.entypo-user(type='text', name='email', placeholder='Customer\'s email')
			select.drop-font.input.entypo-lock(name='location')
				option Order has not been placed. Place an order!
				option Order is received
				option Food is being cooked
				option Dabba is being packed
				option Dabba on its way
				option Dabba is delivered
				option Dabba is returned
			input(type='submit', value='Update')
