extends ./includes/layout
block main
	.symbol
		img.background(src='/images/slider.jpg', alt='Background')
		img(src='/images/plate.png', alt='Hidden')
	.anview-logo
		span WELCOME TO
		|   
		span WE WILL GIVE YOU
		|   
		span food
		|   
		span 
		|   
		span at ur kn
		|   
		span ees
