extends ./includes/layout
block main
	.container-fluid.working
		.row
			.col-sm-6.col-md-4.col-sm-offset-3.col-md-offset-1
				.thumbnail.text-center
					.t1.center-block
					.caption
						h3.fonti Choose A Meal-Plan
						p.pi Choose your Meal from our Delicious List of Menu
						
			.col-sm-6.col-md-4.col-sm-offset-3.col-md-offset-1
				.thumbnail.text-center
					.t2.center-block
					.caption
					h3.fonti Order Meal
					p.pi Call us or book your meal online
					p
					
			.col-sm-6.col-md-4.col-sm-offset-3.col-md-offset-1
				.thumbnail.text-center
					.t3.center-block
					.caption
					h3.fonti Meal Delivered
					p.pi Your Ordered Meal will be Delivered through our own  Delivery Boys
					
			.col-sm-6.col-md-4.col-sm-offset-3.col-md-offset-1
				.thumbnail.text-center
					.t4.center-block
					.caption
					h3.fonti Enjoy Your Meal
					p.pi Enjoy goodness of Delicious and Healthy Meal with your family
					
		
