extends ./includes/layout
block main
	.working
		.row
			.col-md-4
				.box.first
					span.icon-cont
						i.fa.fa-sign-in-alt
					h3 Sign up
					ul.hidden
						p You can login using ur email or fb or G+. It's free!
					a.expand
						span.plus +
						span.minus -
			.col-md-4
				.box.second
					span.icon-cont
						i.fa.fa-utensils
					h3 Menu
					ul.hidden
						p Choose from our wide range and add the ones you want to have.
					a.expand
						span.plus +
						span.minus -
			.col-md-4
				.box.third
					span.icon-cont
						i.fa.fa-desktop
					h3 Order
					ul.hidden
						p Selected items appear here. You can delete items. Confirm the order.
					a.expand
						span.plus +
						span.minus -
		.row
			.col-md-4
				.box.fourth
					span.icon-cont
						i.fa.fa-home
					h3 address?
					ul.hidden
						p Enter the complete address. One hour delivery is available for selected location. 
					a.expand
						span.plus +
						span.minus -
			.col-md-4
				.box.fifth
					span.icon-cont
						i.fa.fa-check
					h3 Done!
					ul.hidden
						p Your order is placed! You will recieve your dabba from the next working day.
					a.expand
						span.plus +
						span.minus -
			.col-md-4
				.box.sixth
					span.icon-cont
						i.fa.fa-user
					h3 Profile
					ul.hidden
						p Order details and dabba location will be displayed here.
					a.expand
						span.plus +
						span.minus -
	include ../views/partials/footer