extends ./includes/layout
block main
	.container
		.box.first
			span.icon-cont
				i.fa.fa-rocket
			h3 Creative
			ul.hidden
				li Lorem ipsum dolor
				li Set amet consecuter
				li Lorem ipsum dolor
				li Set amet consecuter
			a.expand
				span.plus +
				span.minus -
		.box.second
			span.icon-cont
				i.fa.fa-edit
			h3 Interactive
			ul.hidden
				li Lorem ipsum dolor
				li Set amet consecuter
				li Lorem ipsum dolor
				li Set amet consecuter
			a.expand
				span.plus +
				span.minus -
		.box.third
			span.icon-cont
				i.fa.fa-desktop
			h3 Media
			ul.hidden
				li Lorem ipsum dolor
				li Set amet consecuter
				li Lorem ipsum dolor
				li Set amet consecuter
			a.expand
				span.plus +
				span.minus -
		.box.fourth
			span.icon-cont
				i.fa.fa-coffee
			h3 Events
			ul.hidden
				li Lorem ipsum dolor
				li Set amet consecuter
				li Lorem ipsum dolor
				li Set amet consecuter
			a.expand
				span.plus +
				span.minus -