extends ./includes/layout
block main
  .container-fluid.cover-bg
    .row
      .col-md-4.col-md-offset-4.text-center#index
        include ../views/partials/logo
        .alert.alert-danger(role='alert')  Incorrect Email ID and/or Password!
          button.close(type='button', data-dismiss='alert', aria-label='Close')
            i.fa.fa-times
              
        form(action="/signin" method="post")
          .form-group
            input.form-control(type='email', placeholder='Email', name="email")
            input.form-control(type='password', placeholder='Password', name="password")
            button.btn.btn-default(type='submit', name="signin") Signin
            |&nbsp &nbsp &nbsp
            a.btn.btn-default(href='/signup') Signup
            .option
              span
              |&nbsp OR &nbsp
              span
            a.col-md-6.col-md-offset-3.btn.btn-primary(href='/auth/facebook') 
              .login-icon
                i.fa.fa-facebook 
                |&nbspLogin with Facebook
            br
            a.col-md-6.col-md-offset-3.btn.btn-danger(href='/auth/google') 
              .login-icon
                i.fa.fa-google-plus 
                |&nbspLogin with Google+
            br
            a.col-md-6.col-md-offset-3.btn.btn-info(href='/auth/twitter' onmouseover='http://127.0.0.1:3000') 
              .login-icon
                i.fa.fa-twitter 
                |&nbspLogin with Twitter
    include ../views/partials/footer
  script(type="text/javascript",src="vendor/pace/pace.js")






