#wrapper {
  position: relative;
  margin: 60px auto auto 30%;
  width: 675px;
  height: 200px;
}

#profile {
  position: relative;
  background: $component-color;
  width: 675px;
  height: 200px;
  img.user {
    position: absolute;
    top: -14%;
    left: -23%;
    margin: 0 0 0 -42px;
    width: 250px;
    height: 250px;
    border: 4px solid white;
    border-radius: 50%;
    box-shadow: 3px 2px 15px rgba(255, 255, 255, 0.6);
    background-size: cover;
  }
    .p{
      color: $pane-color;
      margin: -30px 0px 5px 65px;
    }

  .info {
    position: relative;
    padding: 42px 22px 18px 22px;
    font-family: "Helvetica Neue", "Helvetica", sans-serif;
    font-size: 18px;
    line-height: 28px;
    font-weight: 100;
    letter-spacing: 1px;
    color: #ecf0f1;
    text-shadow: 0 2px 0 rgba(0, 0, 0, 0.02);
    strong {
      font-weight: 400;
    }
  }
}

#address{
  .jumbotron{
      width: 390px;
      background-color: antiquewhite;
      margin-left: 25%;
      margin-top: 15px;
    p{
      font-size: 15px;
      font-family: monospace;
    }
    h3{
      color: $background-color;
    }
  }
}

#status{
  @import url(http://fonts.googleapis.com/css?family=Droid+Serif);
  margin-bottom: 30px;

body {
  font-family: 'Droid Serif', serif;
  font-size: 16px;
  background: #54CDAC;
  color: #fff;
}
cite {
  font-style: normal;
}
.quote {
  margin: 30px;
  text-align: center;
  max-width: 800px;
  margin: 0 auto;
}
.line-through {
  display: block;
  position: relative;
  border-bottom: 2px solid #fff;
  height: 15px;
}
.line-through span {
  position: absolute;
  display: inline-block;
  background: #54CDAC;
  width: 200px;
  margin-left: -100px;
  line-height: 30px;
}
blockquote{
  border:none;
  background:darkcyan!important;
  color: $pane-color;
}
.stripe-border {
  background: linear-gradient(
    to bottom,
    #fff,
    #fff 25%,
    darkcyan 25%,
    darkcyan
  );
  background-size: 100% 8px;
}
.stripe-border blockquote {
  background: #54CDAC;
  margin: 0 10px;
  padding: 30px;
  font-size: 18px;
  font-size: 24px;
  line-height: 1.5;
}
}