#editmenu{
	background-color: rgba(149, 67, 17, .5);
	margin-top: 50px;

	.option{
		font-family: fantasy;
		font-size: 15px;
		margin: 10px 0px 10px 0px;
	}


	span{
		background: black;
		height: 1.5px;
		width: 30%;
		display: inline-block;
		vertical-align: middle;
	}
}