@font-face {
  font-family: 'moonbold';
  src: url('https://f4eca54a2df134518ccdfe01aadd337b68bfe77b.googledrive.com/host/0ByDgzmssY9t_blRXNW9CbjRsMVE/Moon%20Bold-webfont.eot');
  src: url('https://f4eca54a2df134518ccdfe01aadd337b68bfe77b.googledrive.com/host/0ByDgzmssY9t_blRXNW9CbjRsMVE/Moon%20Bold-webfont.eot?#iefix') format('embedded-opentype'), url('https://f4eca54a2df134518ccdfe01aadd337b68bfe77b.googledrive.com/host/0ByDgzmssY9t_blRXNW9CbjRsMVE/Moon%20Bold-webfont.woff2') format('woff2'), url('https://f4eca54a2df134518ccdfe01aadd337b68bfe77b.googledrive.com/host/0ByDgzmssY9t_blRXNW9CbjRsMVE/Moon%20Bold-webfont.woff') format('woff'), url('https://f4eca54a2df134518ccdfe01aadd337b68bfe77b.googledrive.com/host/0ByDgzmssY9t_blRXNW9CbjRsMVE/Moon%20Bold-webfont.ttf') format('truetype'), url('https://f4eca54a2df134518ccdfe01aadd337b68bfe77b.googledrive.com/host/0ByDgzmssY9t_blRXNW9CbjRsMVE/Moon%20Bold-webfont.svg#moonbold') format('svg');
  font-weight: normal;
  font-style: normal;
}
body {
  background: url(https://f4eca54a2df134518ccdfe01aadd337b68bfe77b.googledrive.com/host/0ByDgzmssY9t_blRXNW9CbjRsMVE/bg.png), #ff6347;
  font-size: 14px;
  font-family: 'moonbold';
  width: 100vw;
  min-height: 100% !important;
}

.fill_ {
  position: absolute;
  display: inline-block;
  left: 0;
  background: $component-color;
  color: white;
  text-align: left;
  padding: 10px 0 10px 6px;
  width: 70px;
  text-shadow: 0 1px 2px rgba(255, 99, 71, 0.15);
  font-size: 11px;
}

.fill_:after {
  position: absolute;
  content: "";
  display: block;
  top: 0;
  right: -16px;
  width: 0;
  height: 0;
  border-bottom: 48px solid $component-color;
  border-right: 16px solid transparent;
  image-rendering: pixelated;
}

#wrapper {
  display: flex;
  justify-content: center;
}
#wrapper #form {
  width: 600px;
  text-align: center;
}

#wrapper #form fielset {
  position: relative;
  margin: 10% auto;
  margin-bottom: 32px;
  display: block;
  background: white;
  width: 330px;
  box-shadow: rgba(0, 0, 0, 0.4) 0 0 19px;
  outline: rgba(0, 0, 0, 0.08) 5px solid;
  border-radius: 4px;
  padding: 15px;
  text-align: left;
}

#wrapper #form fielset legend {
  display: block;
  color: $hover-color;
  padding: 0 0 15px;
  text-align: center;
}
#wrapper #form fielset .input-box {
  position: relative;
  width: 290px;
}
#wrapper #form fielset .input-box input {
  border: none;
  border-bottom: 2px solid $component-color;
  padding: 4.5px 0 15.5px 105px;
  width: 224px;
  margin: 0 0 12px;
  outline: none;
  font-family: 'moonbold';
}
#wrapper #form fielset .input-box input[type="password"] {
  letter-spacing: 2px;
}
#wrapper #form fielset button.button {
  display: inline-block;
  position: relative;
  margin: 15px 0 0 -15px;
  width: 170px;
  text-align: center;
  box-shadow: -5px 0 0 rgba(255, 56, 20, 0.5);
  cursor: pointer;
}
#wrapper #form fielset span.links a {
  font-family: Helvetica;
  font-size: 12px;
  margin-left: 80px;
  text-align: right;
  color: #ad1a00;
  font-weight: bold;
}

#wrapper #form span.copy {
  font-size: 12px;
  color: white;
}


.menuitem
{
  width:960px;
  margin:50px auto;
  padding:10px;
}
.nomargin
{
  margin:0px;
}

.dish
{
  color:white;
    font-family: germanica2;
  text-shadow: 2px 2px 2px black;
  font-size: 25px;
  text-align: center;
  font-style: normal;
  font-weight: 300
}