.footer-head{
	font-family: cursive;
	font-size: 35px;
  	padding-top: 10px;
	color: $pane-color;
}
.footer-block{
  	width: 100%;
	padding: 10px 0px 10px 0px;
	background-color: rgba(70, 203, 218, 0.25);
	bottom: 10px;
	img{
		width: 45px;
		margin-right: 30px;
	}
}
