body{
  margin: 0 auto;
}

#nav{
  float: left;
  margin: 0;
  color: #FFF;
  font-family: helvetica, arial;
  font-weight: lighter;
  width: 58px;
  position: fixed;
  z-index: 10;
  top: -16px;
  overflow: hidden;
  -webkit-transition: width .3s ease-in-out;
  -moz-transition: width .3s ease-in-out;
  -o-transition: width .3s ease-in-out;
  transition: width .3s ease-in-out;
}

#nav-content{
  background-color: $component-color;
  padding-top: 30px;
  height: 1000px;
}

#nav li{
  list-style: none;
  background-color: $component-color;
  width: 400px;
  height: 56px;
  position: relative;
  right: 40px;
  border-bottom: 1px solid $hover-color;
  font-size: 25px;
  white-space: nowrap
}

#nav li:hover{
  background-color: $hover-color; 
}

#nav:hover{
  width: 200px;
  cursor: pointer;
}

.text{
  margin-left: 20px;
  display: inline-block;
  width: available;
  height: available;

  a{
	color: white;
	text-decoration: none;
	font-size: 16px;
  }
}

.btn-position{
	position: fixed;
	top: 0;
	right: 10px;
	z-index: 10;
}

.dropdown-block{
	margin-top: 8px;
}

.dropdown-arrow{
	height: 34px;
}
