.dropdown-profile-pic{
	width: 150px;
	height: 150px;
	margin-left: 3px;
}

.y 
{
	content: url(../images/tasty.jpg);
    border-radius:20px;
    margin: 5px 0px 0px 40px;
	width: 430px;
	height: 120px;
}

.v
{
	content: url(../images/variety.jpg);
    border-radius:20px;
    margin: 5px 0px 0px 40px;
	width: 430px;
	height: 120px;
}

.h
{
	content: url(../images/happiness.jpg);
    border-radius:20px;
    margin: 5px 0px 0px 40px;
	width: 430px;
	height: 120px;
}

.f 
{
	content: url(../images/fast.jpg);
    border-radius:20px;
    margin: 5px 0px 0px 40px;
	width: 430px;
	height: 120px;
}

#postcard{
	background: url(../images/postcard.jpg);
    margin: 5px 0px 0px 40px;
    position:relative;
    width:100px;
    height:75px;

}

.cover-bg{
	background: url(../images/cover.jpg) ;
	background-size: cover;
	height: 100%;
	width: 100%;
	margin-top: 50px;
	position: absolute;
}

.logo
{
	content: url(../images/logo.png);
    width:100px;
    height:100px;
    border: 4px solid rgb(51, 122, 183);
    border-radius:30px;
	margin-top:5px;
	  background-color: white;
}

.signup-bg{
	background: url(../images/full-course.jpg);
	background-size: cover;
	height: 100%;
	width: 100%;
	margin-top: 50px;
	position: absolute;
}

.editmenu-bg{
	background: url(../images/tiffin-elegant.jpg);
	background-size: cover;
	height: 100%;
	width: 100%;
	margin-top: 50px;
	position: absolute;
}