.dropdown-profile-pic{
	width: 150px;
	height: 150px;
	margin-left: 10px;
}

.cover-bg{
	background: url(images/cover.jpg) ;
	background-size: cover;
	height: 100%;
	width: 100%;
	margin-top: 50px;
	position: absolute;
}

.logo
{
	content: url(images/logo.png);
    width:100px;
    height:100px;
    border: 2px solid black;
    border-radius:100px;
    padding:10px;
	margin:5px;
	text-shadow: 2px 2px orangered;
}

.signup-bg{
	background: url(images/tiffin-elegant.jpg);
	background-size: cover;
	height: 100%;
	width: 100%;
	margin-top: 50px;
	position: absolute;
}