
#heading
{
	
  box-shadow: 5px 5px 3px blanchedalmond;
h2
  {
  text-shadow: 3px 3px rgb(252, 196, 175);
  font-family: Germanica1;
  font-size: 125px;
  }
 p
  {
font-size: 65px;
  text-shadow: 2px 2px 6px black;
  color: red;
  font-family: Topper;
  }

 }
 #profilepic
  {
  img
  {
 width: 250px;
  height: 250px;
  border-radius: 250px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  }
font
{
color: rgb(255, 146, 0);
  text-transform: capitalize;
  font-size: 15px;
  text-align: left;
}

  }
  
h4 
  {
  font-size: 50px;
  font-family: Little;
  color: blanchedalmond;
  font-weight: bolder;
  text-shadow: 3px 3px 3px black;
  }
  

  #details
  {
  background-color: burlywood;
  box-shadow: 3px 3px 3px grey;
  border-radius: 10px;
padding:10px;
li
{	  
  font-family: georgia;
  text-transform: uppercase;
  font-size: 18px;
  font-style: oblique;
  font-weight: bolder;
  color: blanchedalmond;
  text-shadow: 1px 1px 1px black;
padding-bottom: 25px;
text-rendering: optimizeLegibility;
 display:block;
 }
font
{
color: rgb(255, 146, 0);
  text-transform: capitalize;
  font-size: 15px;
  text-align: left;
}}
 col-md-4
  {
 max-height:390px;
  max-width:250px;
  }
