@import '_header';
@import '_image';
@import '_icon';
@import '_logo';
@import '_titles';
@import '_index';
@import '_signup';
@import '_editmenu';
@import '_tabdata';
@import '_footer';
@import '_aboutus';
@import '_working';
@import 'dashboard';
@import 'myorder';


@font-face { font-family: Topper ; src: url('/vendor/fontawesome/fonts/Topper.ttf'); } 
@font-face { font-family: Little ; src: url('/vendor/fontawesome/fonts/Little.ttf'); } 
@font-face { font-family: Angilla ; src: url('/vendor/fontawesome/fonts/Angilla.ttf'); } 
@font-face { font-family: War ; src: url('/vendor/fontawesome/fonts/War.ttf'); } 
@font-face { font-family: egory ; src: url('/vendor/fontawesome/fonts/egory.ttf'); } 
@font-face { font-family: Germanica1 ; src: url('/vendor/fontawesome/fonts/Germanica1.ttf'); } 
@font-face { font-family: Germanica2 ; src: url('/vendor/fontawesome/fonts/Germanica2.ttf'); } 
@font-face { font-family: Germanica3 ; src: url('/vendor/fontawesome/fonts/Germanica3.ttf'); } 
@font-face { font-family: Germanica4 ; src: url('/vendor/fontawesome/fonts/Germanica4.ttf'); } 
@font-face { font-family: Gotham ; src: url('/vendor/fontawesome/fonts/Gotham.ttf'); } 
