@import url(http://fonts.googleapis.com/css?family=Merriweather:400,300);

@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300);

$base-font-size: 2em;
$base-line-height: 1.41667em;
$font-color: rgba(255, 233, 211, 1);
$main-color: rgba(83, 170, 179, 1);
$pink-accent-color: rgba(234, 53, 86, 1);
$blue-accent-color: rgba(97, 210, 214, 1);
$background-color: #46cbda; //blue
$component-color: #e31b23; //red
$hover-color: #c11f2b; //dark-red
$pane-color: rgba(255, 255, 255, 1);
$serif-font: "Merriweather", serif;
$sans-font: "Open Sans", sans-serif;

@import '_header';
@import '_welcome';
@import '_image';
@import '_icon';
@import '_logo';
@import '_titles';
@import '_index';
@import '_signup';
@import '_editmenu';
@import '_tabdata';
@import '_footer';
@import '_aboutus';
@import '_working';
@import '_contact';

@font-face { font-family: oran ; src: url('/fonts/orange juice 2.0.ttf'); } 
