@import '_header';
@import '_image';
@import '_icon';
@import '_logo';
@import '_titles';
@import '_index';
@import '_signup';
@import '_editmenu';
@import '_tabdata';
@import '_footer';
@import '_aboutus';
@import '_working';

@font-face { font-family: Topper ; src: url('fonts/Topper.ttf'); } 
@font-face { font-family: Little ; src: url('fonts/Little.ttf'); } 
@font-face { font-family: Angilla ; src: url('fonts/Angilla.ttf'); } 
@font-face { font-family: War ; src: url('fonts/War.ttf'); } 
@font-face { font-family: egory ; src: url('fonts/egory.ttf'); } 
@font-face { font-family: Germanica1 ; src: url('fonts/Germanica1.ttf'); } 
@font-face { font-family: Germanica2 ; src: url('fonts/Germanica2.ttf'); } 
@font-face { font-family: Germanica3 ; src: url('fonts/Germanica3.ttf'); } 
@font-face { font-family: Germanica4 ; src: url('fonts/Germanica4.ttf'); } 
@font-face { font-family: Gotham ; src: url('fonts/Gotham.ttf'); } 
@font-face { font-family: oran ; src: url('/fonts/orange juice 2.0.ttf'); } 
