
#top
{
margin-top:5%;
margin-bottom:5%;
}
#pay
{
	margin-left:10px;
}
#contii
{
  background-color: orangered;
  position: fixed;
  z-index: 5;
  width: 100%;
  height: 10%;
  padding: 15px;
}
#orders
{
	margin-top:10%;
}
body {
  background-color: $background-color;
  font-family: $serif-font;
  color: $component-color;
  font-size: $base-font-size;
  line-height: $base-line-height;
  font-weight: 300;
}
